.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c71f1f;
    padding: 1rem;
  }
  
  .navbar-brand a {
    color: #000000;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar-links li a {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar-links li a:hover {
    color: #f4f2f2;
  }